anjaLib/*
bin/createAnjaPredDataSet.pl
data/consScores/FOSTA/*
data/consScores/BLAST/*
data/IntPred/*.model*
setup.sh
packages/bioptools-*.tar.gz
web/footer.tt
web/header.tt
web/menu.tt
web/Makefile
web/config.cfg
web/index.html
