[% INCLUDE header.tt %]

<script src='ajax.js'></script>

[% INCLUDE menu.tt %]

<div class='container theme-showcase'>
  <div class="jumbotron">      
    <h1>IntPred</h1>
    <h2>Protein interface prediction</h2>
  </div> <!-- jumbotron -->
   
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>About...</h2>
    </div>
    <div class='panel-body'>
      <p>IntPred is a protein interface prediction server which makes
        use of structural information. Our evaluation of performance
        shows that IntPred and SPPIDER are the two best interface
        predictors with IntPred having considerably better precision
        and specificity at the expense of
        sensivity. [<a href='paper/intpred.pdf'>Paper as
          submitted</a>][<a href='paper/SupplementaryMaterial.pdf'>Supplementary
          Material</a>]
      </p>
    </div>
  </div>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Server</h2>
    </div>
    <div class='panel-body'>
      <p>
        PDB code: <input type='text' name='pdb' id='pdb' maxlength='4' size='4' />
        Chain:    <input type='text' name='chain' id='chain' maxlength='1' size='1' />
        <i>Note that the Chain is case sensitive!</i>
      </p>
      <p>
        <input type='button' value='Submit' id='submit' onclick='DisplayPage()' />
      </p>
      
      <div id='throbber' style='display:none;'><img src='throbber.gif' /> Please wait, this may take a couple of minutes...</div>
    </div>
  </div>

  <div id='results' style='display:none;'>
  </div>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Download</h2>
    </div>
    <div class='panel-body'>
      <p>
        You can download IntPred to run locally
        from <a href='http://www.github.com/ACRMGroup/IntPred/'>GitHub</a>.
        The install script will automatically download and install all
        dependencies.
      </p>
    </div>
  </div>

</div> <!-- /container -->

[% INCLUDE footer.tt %]
