        /* Base styles (regardless of theme) */
        .bs-callout {
           margin: 20px 0;
           padding: 15px 30px 15px 15px;
           border-left: 5px solid #eee;
        }
        .bs-callout h4 {
           margin-top: 0;
        }
        .bs-callout p:last-child {
           margin-bottom: 0;
        }
        .bs-callout code, .bs-callout .highlight {
           background-color: #fff;
        }
 
        /* Themes for different contexts */
        .bs-callout-danger {
           background-color: #fcf2f2;
           border-color: #dFb5b4;
        }
        .bs-callout-warning {
           background-color: #fefbed;
           border-color: #f1e7bc;
        }
        .bs-callout-info {
           background-color: #f0f7fd;
           border-color: #d0e3f0;
        }
        .center {
           text-align: center;
        }
        .instruction {
           background-color: #eeeeee;
           margin: 0 0 4pt 0;
           border: 1pt solid red;
           border-left: 6pt solid red;
           padding: 2pt 2pt 2pt 6pt;
           border-radius: 0px;
           border-top-right-radius: 5px;
           -moz-border-radius-topright: 5px;
           -webkit-border-top-right-radius: 5px;
           border-bottom-right-radius: 5px;
           -moz-border-radius-bottomright: 5px;
           -webkit-border-bottom-right-radius: 5px;
        }
        .instruction p {
           margin: 0;
           padding: 0;
        }
